
/* Marge de la page */
*{
  padding: 0;
  margin: 2px;
}

/* Entête */
header div{
  display: inline;
  position: relative;
  left: 10px;
}
.image_1{
  width: 170px;
  margin-bottom: 0;
}
.haut_page{
  font-size: 150%;
  bottom: 10px;
  left: 400px;
}

/* Onglets */
ul li {
  display: inline-block;
  list-style-type: none;
  left: 20px;
  position: relative;
  margin-top: 0;
}

/* Style des liens */
a{
  text-decoration: none;
  color: #D3D3D3;
}
a:hover {
  color: #0000FF;
  margin : 10px;
}

/* couleur arrière plan des menus */
nav, footer{
  background-color: black;
  width: 1078px;
  padding: 12px;
}
.image_2{
  width: 1100px;
}

/* Accueil, section et articles */
.section, #index, .article_1, .article_2, .article_3 {
  margin-right: 550px;
  margin-bottom: 20px;
  padding-top: 0;
  width: 820px;
}
#index{
  font-size: 180%;
  font-weight: bold;
}
hr{
  width: 1100px;
  background: linear-gradient(#D3D3D3, #FFFFFF);
  height: 2px;
  border: 2px;
  filter: opacity(50%);
}
h3{
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 105%;
}
p{
  margin-bottom: 10px;
  font-size: 100%;
}

/* Colonne de droite */
#colonne_accueil{
  font-size: 90%;
  width: 300px;
  background-color: #D3D3D3;
  padding-bottom: 438px;
  bottom: 440px;
  padding-right : 133px;
  left: 810px;
  position: relative;
}

/* Mise en forme du titre "contact" */
#contact{
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 180%;
  font-weight: bold;
}
/* Mise en forme du titre "tableau" */
#tableau{
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 180%;
  font-weight: bold;
}
/* Corps de page des parties tableau et contact */
table{
  padding-top: 15px;
  width: 820px;
  text-align: center;
}
th{
  padding-bottom: 15px; 
}

#formulaire_contact{
  padding-top: 15px;
  width: 820px;
}

/* décalage des pages */
html {
  margin: auto;
  width: 80%;
  padding: 3%;
}

/* responsive design */
@media all and (max-width: 768px){
  html {
    width: 100%;  
  }

  /* Affichage vertical et redimensionnement des menus sur mobile */
  ul li {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    left: 5px;
    margin: 0;
  }
  a:hover {
    margin : 0;
  }

  /* Masquage de la colonne de droite de la page accueil sur mobile */
  #colonne_accueil {
    display: none;
  }
  
  /* redimensionnement des polices */
  .image_1{
    width: 120px;
    margin-left: 0;    
  }
  .haut_page{
    font-size: 100%;
    bottom: 5px;
    left: 70px;
  }
  nav, footer{
    width: 320px;
    padding: 5px;
  }
  .image_2{
    margin: 0;
    width: 330px;
  }
  .section, #index, .article_1, .article_2, .article_3 {
    width: 330px;
  }
  #index{
    font-size: 130%;
  }
  hr{
    width: 325px;
  }
  h3{
    font-size: 100%;
  }
  p{
    margin-bottom : 15px;
    font-size: 100%;
  }
  #contact{
    font-size: 130%;
  }
  #tableau{
    font-size: 130%;
  }
  table{
    width: 1px;
  }
  th{
    padding-right: 6px;
  }
  .photo_mobile{
    width: 100%;
  }
  #formulaire_contact{
    width: 330px;
  }
}